/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
}

.wrapper {
  max-width: 1080px;
  margin: 0 auto;
}

.icon-cog {
  color: white;
}

.banner {
  background-color: #7d7d7d;
}

.banner .banner-content {
  display: flex;
  align-items: center;
  padding: 1em 2em;
}

.banner .banner-content .banner-logo {
  max-width: 70%;
  height: auto;
}

.banner .banner-content .banner-menu {
  margin-left: auto;
}

.main-headline {
  display: flex;
  position: relative;
  background-image: url("../../Image/create.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 300px 1.5em 80px;
  width: auto;
}

.main-headline__text-content {
  color: white;
}

.main-headline__text-content__slogan {
  font-size: 2.5rem;
}

.main-headline__text-content__slogan--emphasized {
  font-weight: bold;
}

.main-headline__text-content__services {
  padding-top: 1.5em;
  color: #ffcc40;
}

@media (min-width: 768px) {
  .main-headline {
    justify-content: flex-start;
    padding: 10em 1em 4em 4em;
  }
  .main-headline__text-content {
    flex-basis: 40%;
  }
  .main-headline__text-content__slogan {
    font-size: 3rem;
  }
}

@media (min-width: 992px) {
  .main-headline {
    justify-content: flex-start;
    padding: 15em 1em 10em 15em;
  }
  .main-headline__text-content {
    flex-basis: 40%;
  }
}

.secondary-headline {
  font-size: 1.3rem;
  background-color: #ff7f3d;
  display: flex;
}

.secondary-headline__main-intro {
  font-family: "Roboto", sans-serif;
  padding: 1.5em 1em;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.secondary-headline__main-intro--emphasized {
  font-weight: bold;
}

.secondary-headline__img {
  width: 100%;
  height: auto;
}

.secondary-headline__secondary-intro {
  font-family: "Roboto", sans-serif;
  padding: 1.5em;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}

.secondary-headline__secondary-text {
  padding: 0 1em 2em;
  font-size: 0.85rem;
  line-height: 1.4em;
  color: white;
}

.secondary-headline__secondary-text--emphasized {
  font-weight: bold;
}

.secondary-headline__button {
  background-color: #ff7f3d;
  border: 1px solid black;
  padding: 1em;
  margin-bottom: 6em;
  font-size: 1rem;
}

.secondary-headline__button:first-of-type {
  margin-left: 2em;
}

.secondary-headline__button:nth-of-type(2) {
  margin-left: 0.5em;
}

.image-gallery {
  display: grid;
  gap: 0;
}

.image-gallery__title {
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  text-align: center;
  padding: 1em;
  text-transform: uppercase;
  color: #7d7d7d;
}

.image-gallery .media {
  margin: 0;
}

.image-gallery .media__image {
  width: 100%;
  height: auto;
}

.footer {
  background-image: url(../../Image/9.jpg);
  background-size: cover;
  padding: 2em 1em;
}

.footer > * + * {
  margin-top: 2em;
}

.footer .ft-item {
  color: #ffcc40;
}

.footer .ft-item__title {
  font-size: 1.5rem;
  padding: 1em 0;
  color: white;
}

.footer .ft-item__list {
  line-height: 1.5rem;
}

.footer .ft-item__list__item--social * + * {
  padding-left: 0.5em;
}

.footer .ft-copyright {
  color: #ffcc40;
  text-align: center;
  padding-top: 4.5em;
}
