:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
}

.wrapper {
  max-width: 1080px;
  margin: 0 auto;
}

.icon-cog {
  color: white;
}

.overlay-text-block {
}
