//SECTION: color
$banner-background-color: black;
$intro1-slogan-color: white;
$main-orange: #ff7f3d;
$gray-color: #7d7d7d;
$brand-yellow: #ffcc40;

//SECTION: font size
$main-headline-intro-text-size: 2.5rem;
$secondary-headline-intro-text-size: 1.3rem;

//SECTION - media queries
$mobile-screen: 425px;
$tablet-screen: 768px;
$desktop-screen: 1024px;
