//SECTION: color
$banner-background-color: black;
$intro1-slogan-color: white;
$secondary-headline-background-intro-color: #ff7f3d;
$gray-color: #7d7d7d;
$brand-yellow: #ffcc40;

//SECTION: font size
$main-headline-intro-text-size: 2.5rem;
$secondary-headline-intro-text-size: 1.3rem;
